@import './../../../assets/styles/variables.scss';

#not-found {
  width: 50vw;
  height: 50%;
  margin-left: 50%;
  transform: translateX(-50%);


  img {
    width: 100%;
  }

  figcaption {
    color: $color-dark;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}
