@import './../../assets/styles/variables.scss';

#main-header {
  border-bottom: 1px solid $color-gray;
  background-color: $color-white;
  padding: 1rem 2rem;
  width: calc(100% - 4rem);
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  justify-content: space-between;
  align-items: center;

  .main-header__title {
    font-size: 2rem;
  }

  .main-header__logout-button {
    padding: 1rem 2rem;
  }

}

#main-container {
  padding: 2rem;
  width: calc(75% - 4rem);
  margin-left: 12.5%;
  transition: width 200ms;

  @media screen and (max-width: 1079px) {
    margin-left: 0;
    width: calc(100% - 4rem);
    font-size: 1rem;
  }

}
